// Add Option Error
.add-option-error {
	color: $off-white;
	font-style: italic;
	padding: 0 $m-size;
	margin: $m-size 0 0 0;
}

// Add Option
.add-option {
	display: flex;
	padding: $m-size;
}

.add-option__input {
	background: $blue;
	border: none;
	border-bottom: .3rem solid darken($blue, 10%);
	flex-grow: 1;
	margin-right: $s-size;
	color: $off-white;
	padding: $s-size;
}